.main {
    background-color: aqua;
    text-align: center;
}

.img-responsive {
    float: left;
    text-align: center;

    }

.row {
    overflow: auto;
    text-align: center;
    
}
#gemz {
    margin-left: 620px;
}